#gopher {
    --g-color: #76E1FE;
    --g-height: 16em;
    --g-width: calc(var(--g-height) - 1em);
    background: var(--g-color);
    border-radius: 35% 35% 0 0;
    height: var(--g-height);
    position: fixed;
      left: calc(50% - (var(--g-width) / 2));
      bottom: 0;
    width: var(--g-width);
  }
  
  #ears {
    --g-ears-width: calc(var(--g-width) + 3em);
    position: absolute;
      top: 5%;
      left: calc(50% - (var(--g-ears-width) / 2));
    width: var(--g-ears-width);
  }
  
  .ear {
    --g-ear-width: calc(var(--g-width) - 12em);
    background: var(--g-color);
    border-radius: 100% 100% 40% 40%;
    height: var(--g-ear-width);
    position: relative;
    width: var(--g-ear-width);
  }
  
  #l-ear {
    transform: rotate(-65deg);
  }
  
  #r-ear {
    transform: rotate(65deg);
  }
  
  .earhole {
    --g-earhole-width: calc(var(--g-ear-width) - 2em);
    background: #4C7484;
    border-radius: 100% 100% 0 0;
    height: calc(var(--g-ear-width) - 1.4em);
    position: absolute;
      left: calc(50% - (var(--g-earhole-width) / 2));
      bottom: 15%;
    width: var(--g-earhole-width);
  }
  
  #eyes {
    --g-eyes-width: calc(var(--g-width) - 2.5em);
    position: absolute;
      top: 5%;
      left: calc(50% - (var(--g-eyes-width) / 2));
    width: var(--g-eyes-width);
  }
  
  .eye {
    --g-eye-width: calc(var(--g-width) - 12em);
    border: var(--g-eye-width) solid white;
    border-radius: 100%;
    height: 0;
    width: 0;
  }
  
  #pupils {
    --g-pupils-width: calc(var(--g-width) - 5.5em);
    position: absolute;
      top: 14%;
      left: calc(50% - (var(--g-pupils-width) / 2));
    width: var(--g-pupils-width);
  }
  
  .pupil {
    --g-pupil-width: calc(var(--g-width) - 14em);
    border: var(--g-pupil-width) solid black;
    border-radius: 100%;
    height: 0;
    width: 0;
  }
  
  #l-ear, #l-eye, #l-pupil {
    float: left;
  }
  
  #r-ear, #r-eye, #r-pupil {
    float: right;
  }
  
  #nose {
    --g-nose-width: calc(var(--g-width) - 10.5em);
    background: #C2A498;
    border-radius: 85% 85% 75% 75%;
    height: 15%;
    position: absolute;
      top: 33%;
      left: calc(50% - (var(--g-nose-width) / 2));
    width: var(--g-nose-width);
  }
  
  #nosetip {
    --g-nosetip-width: calc(var(--g-width) - 12.5em);
    background: black;
    border-radius: 85% 85% 85% 85%;
    height: 10%;
    position: absolute;
      top: 30%;
      left: calc(50% - (var(--g-nosetip-width) / 2));
    width: var(--g-nosetip-width);
  }
  
  #tooth {
    --g-tooth-width: calc(var(--g-width) - 12.5em);
    background: white;
    border-radius: 0 0 25% 25%;
    height: 15%;
    position: absolute;
      top: 45%;
      left: calc(50% - (var(--g-tooth-width) / 2));
    width: var(--g-tooth-width);
  }